@import 'styles/variables';

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 60px;
  top: 0;
  height: 100%;
  background: $secondary-color;
  z-index: 3;

  .logos {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    .logo {
      display: block;
      padding: 8px 0;

      .images {
        display: block;
        margin: 8px auto;
        width: 24px;
        height: auto;
      }

      .sub-logo {
        width: 50px;
      }
    }
  }

  .navigations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
    top: 40%;
    width: 100%;
    // position: absolute;

    a {
      .nav-home,
      .nav-about,
      .nav-contact,
      .nav-portofolio,
      .nav-certificates {
        width: 25px;
        font-size: 25px;
        // transition: all 0.3s ease-in;
      }

      & :hover {
        color: $primary-color;
        cursor: pointer;

        svg {
          opacity: 0;
        }

        &::after {
          content: '';
          height: 80px;
          width: 100%;
          color: aliceblue;
        }
      }

      & .active {
        color: $primary-color;
      }
    }

    // .nav-desc {
    //   margin-top: -20px;
    //   font-size: 1.4rem;
    //   font-family: sans-serif;
    //   opacity: 0;

    //   & :hover {
    //     opacity: 1;
    //     color: $primary-color;
    //   }
    // }
  }

  .sosmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    ul {
      display: block;
      list-style: none;
      text-align: center;
      width: 100%;
      margin-left: -42px;

      li {
        margin: 20px 0;

        a {
          display: block;
          width: 20px;
          font-size: 20px;
          line-height: 16px;
          transition: 0.3s ease-in;
        }

        & :hover {
          color: $primary-color;
        }
      }
    }
  }
}

/* ------------------------------- RESPONSIVE ------------------------------- */
@media (max-width: 884px) {
  .nav-bar {
    width: 50px;

    .sosmed {
      margin-left: -4px;
    }
  }
}

@media (max-width: 430px) {
  .nav-bar {
    height: 100%;
    min-height: 100vh;
  }
}

@media (max-width: 350px) {
  .navigations {
    gap: 40px;
  }
}
