.nav-bar {
  position: fixed;
  background: #181818;
  width: 80px;
  height: 100vh;
  //   position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logos {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
      display: block;
      padding: 8px 0;

      .images {
        display: block;
        margin: 8px auto;
        width: 24px;
        height: auto;
      }

      .sub-logo {
        width: 50px;
      }
    }
  }

  .navigations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
    top: 40%;
    width: 100%;
    // position: absolute;

    .nav-home,
    .nav-about,
    .nav-contact {
      width: 25px;
      font-size: 25px;
      transition: all 0.3s ease-in;
    }

    .nav-desc {
      margin-top: -20px;
      font-size: 1.4rem;
      font-family: sans-serif;
      opacity: 0;

      & :hover {
        opacity: 1;
        color: #ffd700;
      }
    }

    & :hover {
      color: #ffd700;
      cursor: pointer;

      svg {
        opacity: 0;
      }
    }

    & .active {
      color: #ffd700;
    }
  }

  .sosmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    ul {
      display: block;
      list-style: none;
      text-align: center;
      width: 100%;
      margin-left: -25px;

      li {
        margin: 20px 0;

        a {
          display: block;
          width: 20px;
          font-size: 20px;
          line-height: 16px;
          transition: 0.3s ease-in;
        }

        & :hover {
          color: #ffd700;
        }
      }
    }
  }
}
