@import 'styles/variables';

.home-page {
  .text-zone {
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    letter-spacing: 2px;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: $primary-color;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -10px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      color: $primary-color;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: -10px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  h2 {
    color: #fff;
    margin-top: 50px;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: $primary-color;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid $primary-color;
    margin-top: 10px;
    float: left;
    animation: fadeIn 1s 2s backwards;
    transition: 0.3s ease-in;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background: $primary-color;
      color: #333;
    }
  }
}

/* ------------------------------- RESPONSIVE ------------------------------- */
@media (max-width: 885px) {
  .home-page {
    .text-zone {
      position: block;
      left: 20%;
      // margin-left: 8%;
      width: 100%;
    }
  }
}

@media (max-width: 430px) {
  .home-page {
    .text-zone {
      position: block;
      left: 20%;
      // margin-left: 8%;
      width: 100%;
    }

    h1 {
      font-size: 4rem;
    }
  }
}
